<!-- .row>.col*2 -->

<div class="row">
  <div class="col">
    <app-playlist-list
      [items]="playlists"
      [selectedId]="selected?.id"
      (selectedIdChange)="selectPlaylist($event)"
    ></app-playlist-list>

    <app-recent-searches-widget></app-recent-searches-widget>
  </div>
  <div class="col">
    <ng-container [ngSwitch]="mode" *ngIf="selected; else noPlaylistTpl">
      <!--  -->
      <div *ngSwitchDefault>
        <app-playlist-details
          [playlist]="selected"
          (edit)="edit()"
        ></app-playlist-details>
      </div>
      <!--  -->
      <div *ngSwitchCase="'edit'">
        <app-playlist-form
          [playlist]="selected"
          (cancel)="cancel()"
          (save)="save($event)"
        ></app-playlist-form>
      </div>
      <!--  -->
    </ng-container>
  </div>
</div>

<ng-template #noPlaylistTpl>
  <p class="alert alert-info">No playlist selected</p>
</ng-template>
