<div class="row">
  <div class="col">
    <app-search-form
      [query]="(query | async) || ''"
      (search)="search($event)"
    ></app-search-form>
  </div>
</div>

<div class="row">
  <div class="col">
    <!-- <p class="alert alert-danger" *ngIf="message">{{ message }}</p> -->

    <p>Found {{ (results | async)?.length }} results</p>

    <app-search-results [results]="results | async"></app-search-results>
  </div>
</div>
