<form #formRef="ngForm" (ngSubmit)="submit(formRef)">
  <pre>{{ formRef.value | json }}</pre>

  <div class="form-group mb-3">
    <label for="playlist_name">Name:</label>
    <input
      type="text"
      class="form-control"
      id="playlist_name"
      placeholder="Playlist Name"
      #nameRef="ngModel"
      [ngModel]="playlist.name"
      name="name"
    />
    <small class="form-text text-muted">
      {{ nameRef.value?.length }} / 170
    </small>
  </div>

  <div class="form-check mb-3">
    <label class="form-check-label">
      <input
        type="checkbox"
        class="form-check-input"
        id="playlist_public"
        [ngModel]="playlist.public"
        name="public"
      />
      Public
    </label>
  </div>

  <div class="form-group mb-3">
    <label for="playlist_description">Description</label>
    <textarea
      class="form-control"
      id="playlist_description"
      rows="3"
      [ngModel]="playlist.description"
      name="description"
    ></textarea>
  </div>

  <button class="btn btn-danger" type="button" (click)="cancelClick()">
    Cancel
  </button>
  <button class="btn btn-success" type="submit">Save</button>
</form>
