<div class="mb-3" [formGroup]="searchForm">
  <div class="input-group">
    <input
      type="text"
      class="form-control"
      placeholder="Search"
      formControlName="query"
    />
    <!-- [formControl]="searchForm.get('query')" -->

    <button
      class="btn btn-outline-secondary"
      type="button"
      (click)="submit.emit()"
    >
      Search
    </button>
  </div>

  <div formGroupName="extras" *ngIf="extras">
    <div class="input-group">
      <label for="">Type</label>
      <input type="text" class="form-control" formControlName="type" />
    </div>
  </div>
</div>
