<div *ngIf="album | async as album">
  <div class="row">
    <div class="col">
      <h1>{{ album.name }}</h1>
      <small class="text-muted">{{ album.id }}</small>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <app-album-card [album]="album"></app-album-card>

      <dl>
        <dt>Name:</dt>
        <dd>{{ album.name }}</dd>
        <dt>Artysta:</dt>
        <dd>{{ album.artists[0].name }}</dd>
      </dl>
    </div>
    <div class="col">
      <app-track-list
        *ngIf="album.tracks"
        [tracks]="album.tracks.items"
      ></app-track-list>
    </div>
  </div>
</div>
