<nav class="navbar navbar-expand-sm navbar-dark bg-dark mb-3">
  <div class="container">
    <a class="navbar-brand" href="#">{{ title }}</a>
    <button class="navbar-toggler" type="button" (click)="open = !open">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a
            class="nav-link"
            routerLinkActive="placki active"
            routerLink="/playlists"
            >Playlists</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLinkActive="placki active"
            routerLink="/music/search"
            >Search</a
          >
        </li>
      </ul>
      <app-recent-searches-widget class="ms-auto"></app-recent-searches-widget>
      <div class="nav-text text-light px-2">
        <app-clock></app-clock>
      </div>
    </div>
  </div>
</nav>

<div class="container">
  <div class="row">
    <div class="col">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
