<div class="dropdown">
  <button
    class="btn btn-secondary dropdown-toggle"
    type="button"
    (click)="open = !open"
  >
    Recent searches
  </button>
  <ul class="dropdown-menu" [class.show]="open">
    <li *ngFor="let query of queries">
      <a class="dropdown-item" (click)="search(query)">{{ query }}</a>
    </li>
  </ul>
</div>
