<dl
  [id]="playlist.id"
  [attr.data-playlist-id]="'playlist_' + playlist.id"
  [title]="playlist.name"
>
  <dt>Name:</dt>
  <dd [style.font-size.px]="22">{{ playlist.name }}</dd>

  <dt>Public:</dt>
  <dd
    class="playlist_public"
    [ngClass]="{
      'text-danger': playlist.public,
      'text-success': !playlist.public
    }"
  >
    {{ playlist.public ? "Yes" : "No" }}
  </dd>

  <dt>Description:</dt>
  <dd>{{ playlist.description }}</dd>
</dl>

<!-- <button class="btn btn-info" (click)="edit.emit()">Edit</button> -->
<button class="btn btn-info" (click)="editClick()">Edit</button>