<audio
  [src]="currentTrack?.preview_url"
  controls
  class="w-100 my-1"
  #audioRef
></audio>

<div class="list-group">
  <div
    class="list-group-item"
    [class.active]="track.id === currentTrack?.id"
    *ngFor="let track of tracks"
  >
    {{ track.track_number }}. {{ track.name }}

    <button class="btn btn-xs float-end" (click)="play(track)">Play</button>
  </div>
</div>
